body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin-left: 80px;
    padding-top: 50PX;
}

h3 {
    font-size: 20px;
    color: aqua;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
}

section {
    height: 500px;
    padding-bottom: 200px;
}

.aqua-highlight {
    color: aqua;
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;
}

a {
    margin-top: 15px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
}

.mid-banner {
    background-image: url("img/biography-bg.png");
    background-repeat: no-repeat;
}

.half-width p {
    font-size: 25px;
    padding-top: 20px;
}

.singale {
    box-shadow: 10px 10px 40px slategrey;
    height: 300px;
    border-radius: 15px;
    border-left: 5px solid blue;
}

.foot {
    padding-top: 10px;
    text-align: center;
    height: 35px;
    background-color: gray;
}